// Navigation Styles here

header{
    width: 980px;
    padding: 24px 90px;
    border-bottom: @navigation-border;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav{
        justify-content: space-around;

        a{
            color:black;
            text-decoration: none;
        }
    }
}
